body {
    background-color: #f8f9fa;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h5 {
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .page-link {
      padding: 0.5rem 0.75rem;
      font-size: 0.875rem;
    }
  }
  
  @media (min-width: 768px) {
    .pagination .page-link {
      padding: 0.75rem 1.25rem;
      font-size: 1rem;
    }
  }